 .header {
     height: 100%;
     background-color: black;
     background-attachment: fixed;
 }



 #header-title {
     font-family: 'Berkshire Swash', cursive !important;
     color: #FF5E19 !important;
 }